
      <%= image_tag user.get_profile_image(100,100) %>
      <table class="table">
        <tbody>
          <tr></tr>
          <tr>
            <th>name</th><br>
            <th><%= user.name %></th>
          </tr>
          <tr>
            <th>introduction</th><br>
            <th><%= user.introduction %></th>
          </tr>
        </tbody>
      </table>
     


    
     