
      <%= image_tag user.get_profile_image(100,100) %>
      <table class="table">
        <tbody>
          <tr></tr>
          <tr>
            <th>name</th><br>
            <th><%= user.name %></th>
          </tr>
          <tr>
            <th>introduction</th><br>
            <th><%= user.introduction %></th>
          </tr>
        </tbody>
      </table>
      <div class="row">
       <%= link_to edit_user_path(user), class:"btn btn-outline-secondary btn-block edit_user_96628" do  %>
         <span><i class="fas fa-user-cog"></i></span>
       <% end %>
      </div>



