<p id="notice">Signed out successfully.</p>
<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>welcome to
        <strong>Bookers</strong>!!
      </h1>
      <p>
        <strong>Bookers</strong>,
      </p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>
      <div class="btn-wrapper co-10 mx-auto">
        <div class="row">
          <li class="btn btn-info dtn-sm btn-block mb-3">
            <%= link_to "Log in", user_session_path %>
          </li>
          <li class="btn btn-success dtn-sm btn-block">
            <%= link_to "Sign up", new_user_registration_path %>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>
